<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>
 	<div align="center">

	
	<!--
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
	  <ion-slide ng-repeat="item in AboutGallery"> 
		<img src="{{serverHost}}/{{item.image}}" style="width:100%;">
	  </ion-slide>
	</ion-slide-box>
	-->
	
	
		
	<div align="right">
	<p>
		<img src="{{serverHost}}/{{AboutData.image}}" ng-if="AboutData.image" style="width:100%;">
	</p>
	<!--
	<p>{{AboutData.name}}</p>
	<p>{{AboutData.phone}}</p>
	<p>{{AboutData.email}}</p>
	<p>{{AboutData.address}}</p>
	<p>{{AboutData.facebook}}</p>
	<p>{{AboutData.website}}</p>
	-->
	<p ng-bind-html="desc"></p>
	</div>




	<div class="list">

		<div class="item item-thumbnail-right" ui-sref="app.projectdetails({ItemId: $index})" ng-repeat="item in ProjectsArray">
		  <img src="{{serverHost}}/{{item.image}}">
		  <h2>{{item.name}}</h2>
		  <p>{{item.desc}}</p>
		  <p>{{getStatus(item.status)}}</p>
		  <p style="direction:rtl;" ng-if="item.count_app > 0">{{item.count_app}} דירות</p>
		</div>

		

	</div>


	
	</div>	
	
	
   	
  </ion-content>
</ion-view>
