<ion-view view-title="{{navTitle}}"  hide-nav-bar="false" hide-back-button="false" >
  <ion-content class="contentBackground">

	<div align="center">
	
	
		<div class="tabsDiv" ng-if="existingOrNewApp == 0">
			<div ng-class="{'tabsActive': AppType == 0 , 'tabsNotActive': AppType == 1 }" ng-click="changeType(0)" >
				בחירת מפרט
			</div>
			<div  ng-class="{'tabsActive': AppType == 1 , 'tabsNotActive': AppType == 0 }"  ng-click="changeType(1)" >
				מפרט קיים
			</div>
		</div>
	
	<!--
	<h1 align="center">{{pageTitle}}</h1>
	-->
			
	
	<div class="addProjectList" ng-if="AppType == 0">
	
		  <label class="item item-input" >
			<input type="text" ng-model="fields.name" placeholder="שם המפרט">
		  </label>

		<!--
		<div class="addImageMangeProject"  align="center" ng-click="saveMifratName()">
				<div style="width:80%; margin-top:20px; margin-bottom:30px;">
					<img src="img/save.png" style="width:100%;" />
				</div>
		</div>
		-->
		
	</div>
	
	
	
	<div class="addProjectList" ng-if="AppType == 1">

	<div ng-if="MifratListArray.length == 0" align="center">
	לא נמצאו מפרטים
	</div>

    <div  ng-repeat="item in MifratListArray"  style=" top:35px;  overflow:hidden">
            <div class="toogle" style=" "> 
			
			   <div style="float:left;" ng-click="deleteMifrat($index,item.index)">
				<i class="ion-trash-a" style="font-size:35px;"></i>
			   </div>
			   
               <div class="tooglLeft">
                    {{item.name}} 
               </div>
			   

               <div  align="center" ng-class="{ 'ActiveCircleToogle': item.selected == 1 , 'NonActiveCircleToogle': item.selected == 0 ,  'NonActiveBlackCircleToogle': item.selected == 2 }" ng-click="selectMifrat($index,item.index)">
                   <div></div>
               </div>
			   

			   
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>


	
	<!--
	<label class="item item-input item-select">
	
		<div class="input-label">
			מפרט קיים
		</div>
		<select ng-model="fields.mifratim">
		
			<option value="" selected>בחירת מפרט</option>
			<option value="{{item.index}}" ng-repeat="item in MifratListArray">{{item.name}}</option>
		</select>
	</label>
	
	-->

    <div class="addImageMangeProject"  align="center" ng-click="selectExisting()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
    </div>

		
	</div>

	<button class="button button-block button-positive" ui-sref="app.plansapartments()">
	  המשך לתוכניות
	</button>	
	
	<div class="list" ng-if="showMifratim"  style="margin-top:-6px; padding-bottom:120px;">

		<div class="qrItem" ng-repeat="item in MifratArray " ng-click="pickMifrat($index,item.index)">
        	<div class="qrContent">
            	<div class="qrImage" align="left" >
                	<img  src="{{serverHost}}/{{item.image}}" style="width:100%">
                </div>
                <div class="qrInfo" >
                	 <h2>{{item.name}}</h2>
		 			 <p>{{item.details}}</p>
                </div>
                <div class="qrshare" style="float:right; margin-right:30px;"  >
                	
                	<div>
						<span  class="badge badge-royal"  style="">{{item.count}}</span>
					</div>
					

                </div>

                <div class="whiteLine"></div>
            </div>
		</div>

	</div>	


	
	</div>
  </ion-content>
</ion-view>
