<ion-view view-title="{{navTitle}}" >
  <ion-content class="contentBackground">
 	<div align="center">
	
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="img/change.png" style="width:100%;" />
            </div>
        </div>


	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">
	
	
	<div class="list">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם הבניין">
	  </label>	
	  <label class="item item-input">
		<input type="tel" ng-model="fields.mispardirot" placeholder="מספר דירות">
	  </label>
	  <label class="item item-input">
		<textarea ng-model="fields.desc" placeholder="תיאור בניין"></textarea>
	  </label>
	</div>
	

	<div ng-click="saveBuilding()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
   	
  </ion-content>
</ion-view>
