<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/projects" style="direction:rtl;">
          ראשי
        </ion-item>
		
        <ion-item menu-close href="#/app/adminmanage" ng-show="showAdminLink" style="direction:rtl;">
          מערכת ניהול
        </ion-item>

        <ion-item menu-close href="" ng-click="logOut()" style="direction:rtl;">
          התנתקות
        </ion-item>

		
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
