<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">בחירת דירה</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMifrat()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
  
  <!--
  item.mifrat_id
  -->
  
	<div class="list">
	
	<label class="item item-input item-select">
		<div class="input-label">
			בחירת דירה
		</div>
		<select ng-model="fields.mifratdira">
			<option value=""   >יש לבחור דירה</option>
			<option value="{{item.index}}"  ng-repeat="item in ApptArray" >{{item.name}} </option>
		</select>
	</label>
	

	<div ng-click="saveDira()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
		
		
  </ion-content>
</ion-modal-view>
