<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content class="contentBackground">
 	<div align="center">
	

		<div class="tabsDiv">
			<div ng-class="{'tabsActive': AppType == 0 , 'tabsNotActive': AppType == 1 }" ng-click="changeType(0)">
				הקמת דירה
			</div>
			<div  ng-class="{'tabsActive': AppType == 1 , 'tabsNotActive': AppType == 0 }"  ng-click="changeType(1)">
				דירה קיימת
			</div>
		</div>

	<div class="addProjectList" ng-if="AppType == 0">
	
		  <label class="item item-input">
			<input type="text" ng-model="fields.name" placeholder="כותרת הדירה">
		  </label>

		  <label class="item item-input">
			<input type="tel" ng-model="fields.rooms" placeholder="מספר חדרים">
		  </label>	  

		  <label class="item item-input">
			<input type="tel" ng-model="fields.godeldira" placeholder="גודל דירה">
		  </label>
		  <label class="item item-input">
			<input type="tel" ng-model="fields.godelmirpaset" placeholder="גודל מרפסת/גינה">
		  </label>	  
		  <label class="item item-input">
			<textarea ng-model="fields.desc" ng-bind-html="fields.desc | html" placeholder="מידע נוסף"></textarea>
		  </label>
	  
		<button class="button button-block button-positive" ng-click="saveNewApp()">
		  שמירה
		</button>
	  
	  
	</div>


	<div class="addProjectList" ng-if="AppType == 1">

	<div ng-if="ApptArray.length == 0" align="center">
	לא נמצאו דירות
	</div>

    <div  ng-repeat="item in ApptArray"  style=" top:35px;  overflow:hidden">
            <div class="toogle" style=" "> 
			
			   <div style="float:left;" ng-click="deleteApp($index,item.index)">
				<i class="ion-trash-a" style="font-size:35px;"></i>
			   </div>
			   
               <div class="tooglLeft">
                    {{item.name}} 
               </div>
			   

               <div  align="center" ng-class="{ 'ActiveCircleToogle': item.selected == 1 , 'NonActiveCircleToogle': item.selected == 0 ,  'NonActiveBlackCircleToogle': item.selected == 2 }" ng-click="selectExisting($index,item.index)">
                   <div></div>
               </div>
			   

			   
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>

	

	
		<!--
		<label class="item item-input item-select">
		
			<div class="input-label">
				דירה קיימת
			</div>

			<select ng-model="fields.existingdira">
				<option value="" selected>בחירת דירה</option>
				<option value="{{item.index}}" ng-repeat="item in ApptArray">{{item.name}}</option>
			</select>
		</label>
		-->
	  
		<button class="button button-block button-positive" ng-click="saveExistingDira()">
		  שמירה
		</button>
	  
	  
	</div>


	
	
	</div>
   	
  </ion-content>
</ion-view>
