<ion-view view-title="{{navTitle}}" >
  <ion-content>
 	<div align="center">

       
	<!--
	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">
	-->
	<div class="addProjectList" ng-repeat="item in FieldsArray">
	
	<div ng-if="!item.image" ng-click="pictureChoser($index)">
		<img src="img/add_image.png" style="width:100%;" />
	</div>
	<div ng-if="item.image" ng-click="pictureChoser($index)">
		<img src="{{serverHost}}/{{item.image}}" style="width:100%;">
		<!--
		<img src="img/change.png" style="width:100%;" />
		-->
	</div>

	
	  <label class="item item-input">
		<input type="text" ng-model="item.name" placeholder="שם המוצר">
	  </label>

	  <label class="item item-input">
		<input type="text" ng-model="item.supplier" placeholder="ספק">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="item.company_promo" placeholder="זיכוי מהחברה">
	  </label>

	  <label class="item item-input">
		<textarea ng-model="item.desc" ng-bind-html="item.desc | html" placeholder="פירוט על המוצר ב 2 שורות"></textarea>
	  </label>
	</div>

	<button class="button button-block button-positive" ng-click="insertRow()">
	  הוספת מוצר נוסף
	</button>		
	
    <div class="addImageMangeProject"  align="center" ng-click="saveMifrat()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
        </div>
        



	
	
	</div>
   	
  </ion-content>
</ion-view>
