<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="contentBackground">

	<div align="center">
	
	
	
	
	
	
	<button class="button button-block button-positive" ui-sref="app.mifratlist({ProjectId: ProjectNumber})">
	  בניית מפרט
	</button>		

	<button class="button button-block button-positive" ui-sref="app.buildlist({ProjectId: ProjectNumber})">
	  בניית תוכנית
	</button>	
	
	<button class="button button-block button-positive" ui-sref="app.customaparment({ItemId: ProjectNumber})"  >
	  הגדרת דירות
	</button>		
	
	
	
	<!--
	<button class="button button-block button-positive" ng-click="logoutAdmin()">
	  התנתקות
	</button>
	-->
	
	
	</div>
  </ion-content>
</ion-view>
