<div class="bar bar-footer bar-dark" style="background-color:black; height:80px;">
	  <a class="footerBtn">
      	<img src="img/f1.png" style="width:90%" />
      </a>
      <a class="footerBtn" ui-sref="app.about()">
      	<img src="img/f2.png" style="width:90%" />
      </a>
      <a class="footerBtn" ng-click="openGallery()">
      	<img src="img/f3.png" style="width:90%" />
      </a>
      <a class="footerBtn" ng-click="contactPopup()">
      	<img src="img/f4.png" style="width:90%" />
      </a>
  </div>	
  

<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content class="has-header has-footer" overflow-scroll="false">
 	<div align="center" style="padding-bottom:100px;">
	
  		<!--	<ion-slide-box  >
                  <ion-slide ng-repeat="item in Gallery">
                     <img ng-src="{{host}}/{{item.image}}"  style="width:100%" />
                  </ion-slide>
            </ion-slide-box>
        </div>
        <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/i1.jpg" ng-click="CommentModal(2)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i2.jpg" ng-click="checkRate(3)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i3.jpg" ng-click="Video()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i4.jpg" ng-click="Waze()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i5.jpg" ng-click="dialPhone()"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>  ui-sref="app.manageproject({ItemId: -1})"-->
		
        <div class="shortImage">
                <img src="{{serverHost}}/{{projectDetails.image}}" />
                <div class="shortImageBlack">
                    
                </div>
                <div class="shortImageApartmentBlackIcon" >
                        <img  class="shortImageApartmentBlackIcon1" src="img/s1.png" style="left:0px;" ui-sref="app.aparmentusers({ItemId: ApartmentId})"  />
                        <img  class="shortImageApartmentBlackIcon2" src="img/s2.png"  style="left:60px; width:41px; top:-4px;"/>
                </div>
        </div>
        
		<div style="width:100%; margin-top:80px;" align="center" ui-sref="app.editpartment({ItemId: ApartmentId})">
        	<div style="width:80%">
            	<p class="ApartmentDetailsProjectName">{{projectDetails.name}}</p>
                <p class="ApartmentDetailsDiscriptionName">{{projectDetails.address}}</p>
				<p class="ApartmentDetailsDiscriptionName">{{apartmentDetails.name}}</p>
            </div>
        </div>
        
        <div class="whiteLine" ></div>
		
       <!-- <div class="mainInfo" >
        	<div class="mainInfoText">
                <p>שם הפרויקט: {{projectDetails.name}}</p>
				<p>שם הבניין: {{buildingDetails.name}}</p>
				<p>מספר דירה: {{apartmentDetails.dira_mispar}}</p>
				<p>מספר קומה: {{apartmentDetails.floornumber}}</p>
                <p>כתובת הפרויקט: {{projectDetails.address}}</p>
                <p>טלפון: {{projectDetails.phone}}</p>
            </div>

       </div> 
            
			
      <div class="mainInfo">
                <h4 ng-bind-html="SapakDesc" style="width:100%;"></h4>
      </div>-->
            
		
      <div class="apartmentIcons" ui-sref="app.mifratcat({ItemId: ApartmentId})">
      		<div class="apartmentIconsLeft">
            	<div style="width:50%" align="center">
            		<img src="img/i1.png" style="width:100%" />
                </div>
            </div>
            <div class="apartmentIconsRight">
            	<p>מפרט</p>
            </div>
            
      </div>
      <div class="whiteLine" ></div>
       <div class="apartmentIcons" ui-sref="app.plancat({ItemId: ApartmentId})">
      		<div class="apartmentIconsLeft">
            	<div style="width:50%" align="center">
            		<img src="img/i2.png" style="width:100%" />
                </div>
            </div>
            <div class="apartmentIconsRight">
            	<p>תכניות</p>
            </div>
            
      </div>
      <div class="whiteLine" ></div>
       <div class="apartmentIcons" ui-sref="app.chatPage({ItemId: ApartmentId})">
      		<div class="apartmentIconsLeft">
            	<div style="width:50%" align="center">
            		<img src="img/i3.png" style="width:100%" />
                </div>
            </div>
            <div class="apartmentIconsRight">
            	<p>פיקוח</p>
            </div>
            
      </div>
		
       <div style="width:100%; margin-top:20px;" align="center" ng-click="openDiscussionModal()">
            <div style="width:95%">
            	<img src="img/b1.png" style="width:100%" />
            </div>
       </div>
	<!--<ul class="list">
		<li class="item">

			
			ng-click="showMifrat()"
			
			<button class="button button-full button-calm" ui-sref="app.mifratcat({ItemId: ApartmentId})">
			  מפרט
			</button>

			<button class="button button-full button-calm">
			  תכניות
			</button>

			<button class="button button-full button-calm">
			  פיקוח
			</button>


			<button class="button button-block button-positive" ng-click="openDiscussionModal()">
			  התקשרות עם הקבלן
			</button>		

    </li>
</ul>-->


	



			</div>


         <!--   <div class="searchLine">
            </div>-->
	
	</div>


          <script id="details-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent"  align="center" style="width:100%">
				<div align="center" style="width:100%; border-radius:0px; height:100%; background-color:#fff; margin-top:45px;">
					<div style="width:92%" >
						
		
						<div class="infoPopUpHeader">

							<div class="infoPopUpHeaderRight" ng-click="closeDiscussionModal()" style="z-index:100; position:relative; width:20px;">
								<i class="ion-close-round"></i>
							</div>
							
							<div style="width:100%; top:20px; position:relative;  z-index:1;" align="center">
									<p class="ApartmentDetailsProjectName">{{projectDetails.name}}</p>
									<p class="ApartmentDetailsDiscriptionName">{{projectDetails.address}}</p>
							</div>
						
						<div class="whiteLine" style="margin-top:30px;" ></div>
						
						</div>
						
						


						<div style="margin-top:10px;" >
       
							<div ng-click="openCommentModal()">
								<img src="img/comment.png" style="width:100%" />
							</div>
	  
							<div class="AboutPopUp">
								<ion-scroll direction="y" style=" height:450px">
								
									<!-- class="item item-avatar" -->
									<div class="comment"  ng-repeat="item in Comments">
										<div style="width:100%; overflow:hidden">
											<div class="commentImage" align="center">
												<div>
												  <img ng-if="item.image" src="{{serverHost}}/{{item.image}}" style="width:100%">
												  <img ng-if="!item.image" src="img/avatar.png" style="width:100%">
												</div>
											</div>
											<div class="commentInfo">
											  <h2>{{item.name}}</h2>
											  <p>{{item.text}}</p>
											</div>
											<div class="commentDate">
												<p>{{item.time}}</p>
											</div>
										</div>
									  	<div class="whiteLine1" style="margin-top:4px;" ></div>
									</div>
									
								

							 </ion-scroll>	
							</div>
						</div>	
					</div>
				<div>
			</div>
		</div>
      </script>
	  
	  
	  
          <script id="mifratim-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent"  align="center" style="width:100%">
				<div align="center" style="width:100%; border-radius:0px; height:80%; background-color:#fff; margin-top:300px;">
					<div style="width:92%" >
						<div class="infoPopUpHeader">

							<div class="infoPopUpHeaderRight" ng-click="closeMifratModal()">
								<i class="ion-close-round"></i>
							</div>
							<div class="infoPopUpHeaderRight">
								<div class="popupTitle">מפרט</div>
							</div>
						</div>
						
						
							<div class="AboutPopUp">
								<ion-scroll direction="y" style=" height: 250px">
								
								
								<div class="list">

									<div class="item item-thumbnail-left" ng-repeat="item in mifratimArray">
									  <img src="{{serverHost}}/{{item[0].image}}">
									  <h2>{{item[0].name}}</h2>
									</div>
									
								</div>

							 </ion-scroll>	
							</div>
						
					</div>
					
					

					
					
				<div>
			</div>
		</div>
      </script>	  
	  

   	
  </ion-content>
</ion-view>
