<ion-view view-title="{{navTitle}}"  cache-view="false">
  <ion-content>
 	<div align="center">
		
        <div class="shortImage">
                <img src="{{serverHost}}/{{projectImage}}" />
                <div class="shortImageBlack">
                    
                </div>
                <div class="shortImageBlackIcon" >
                        <img  src="img/addproject.png" style="width:100%" />
                </div>
        </div>
            
        <div style="width:100%; margin-top:10px;" align="center" ui-sref="app.managebuildings({ProjectId: projectId,ItemId: -1})">
            <div style="width:90%">
                <img src="img/add_buildings.png" style="width:100%" />
            </div>
        </div>
        
        <div class="list">
        
                <div class="qrItem" ng-repeat="item in BuildingsArray" >
                    <div class="qrContent">
                        <div class="qrImage" align="left" ng-click="navigateApparment(item.index)">
                            <img  src="{{serverHost}}/{{item.image}}">
                        </div>
                        <div class="qrInfo" ng-click="navigateApparment(item.index)" style="height:50px;">
                             <h2>{{item.name}}</h2>
                             <p> מספר דירות : {{item.mispar_dirot}}</p>
                        </div>
                        <div class="qrshare" style="float:right; margin-right:30px;"  >
						
                            <div ui-sref="app.managebuildings({ProjectId: projectId,ItemId: item.index})">
                                <img src="img/edit_icon.png" style="width:100%;">
                            </div>
							
                            <div ng-click="deleteBuilding($index,item.index)">
                                <img src="img/delete.png" style="width:100%;">
                            </div>

							
                        </div>
                    </div>
                    <div class="whiteLine" ></div>
                </div>
          </div>	
	
	

	
	</div>
   	
  </ion-content>
</ion-view>
