<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false" cache-view="false">
  <ion-content class="contentBackground">

	<div align="center">
	
	


	<div class="list"  style="margin-top:-6px; padding-bottom:120px;">

	
<div class="list card" ng-repeat="item in LeadsArray ">

  <div class="item item-avatar" style="text-align:right;">
    <h2>{{item.name}}</h2>
    <p>{{item.date}}</p>


    <p style="direction:rtl;">
     <div>טלפון: {{item.phone}}</div>
	 <div style="direction:rtl;">מייל: {{item.email}}</div>
	 <div>תיאור הפניה: {{item.desc}}</div>
	 <div>שם הפרויקט: {{item.projectname}}</div>
	 <div>מספר דירה: {{item.mispardira}}</div>	 
    </p>
  
  </div>

  
	<div ng-click="deleteLead(item.index,$index)">
		<img src="img/delete.png" style="width:20%;">
	</div>	


</div>



		


		
		
	</div>	
	
	</div>
  </ion-content>
</ion-view>
