<ion-view view-title="{{navTitle}}" >
  <ion-content>
 	<div align="center" style="margin-top:10px;">

       

	<div class="addProjectList">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם המפרט">
	  </label>

	</div>
	
	
    <div class="addImageMangeProject"  align="center" ng-click="saveList()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
        </div>
        
	


	
	
	</div>
   	
  </ion-content>
</ion-view>
