<ion-view view-title="{{navTitle}}"  hide-nav-bar="false" hide-back-button="false" cache-view="false">
  <ion-content class="contentBackground">

	<div align="center">
	
	
	<button class="button button-block button-positive" ng-click="mifratEdit(-1)">
	  הוספת מפרט
	</button>

	<div class="list"  style="margin-top:-6px; padding-bottom:120px;">

	
		<div class="qrItem" ng-repeat="item in MifratimArray " >
        	<div class="qrContent">
            	<div class="qrImage" align="left" >
                	<img  src="{{serverHost}}/{{item.image}}" style="width:100%">
                </div>
                <div class="qrInfo" >
                	 <h2>{{item.name}} </h2>
                </div>
                <div class="qrshare" style="float:right; margin-right:30px;"  >
                	
					<!--
                	<div>
						<span  class="badge badge-royal"  style="">{{item.count}}</span>
					</div>
					-->
					
					<div ng-click="mifratEdit(item.index)">
						<img src="img/edit_icon.png" style="width:100%;">
					</div>
					<div ng-click="deleteMifrat($index,item.index)">
						<img src="img/delete.png" style="width:100%;">
					</div>					
                </div>

                <div class="whiteLine"></div>
            </div>
		</div>

	


		
		
	</div>	
	
	</div>
  </ion-content>
</ion-view>
