<ion-view view-title="{{navTitle}}" >
  <ion-content>
 	<div align="center">
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="img/change.png" style="width:100%;" />
            </div>
        </div>
        
       
	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">

	<div class="addProjectList">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם המפרט">
	  </label>

	  <label class="item item-input">
		<input type="tel" ng-model="fields.supplier" placeholder="ספק">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.coupon" placeholder="זיכוי חברה">
	  </label>

	  <label class="item item-input">
		<input type="tel" ng-model="fields.quan" placeholder="כמות">
	  </label>	 

	  
	  <label class="item item-input">
		<textarea ng-model="fields.desc" ng-bind-html="fields.desc | html" placeholder="תיאור המפרט"></textarea>
	  </label>
	</div>
	
	
    <div class="addImageMangeProject"  align="center" ng-click="saveMifrat()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
        </div>
        
	


	
	
	</div>
   	
  </ion-content>
</ion-view>
