<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false" ">
  <ion-content class="contentBackground">

	<div align="center">
		
		<!--
		<div class="tabsDiv">
			<div ng-class="{'tabsActive': AppType == 0 , 'tabsNotActive': AppType == 1 }" ng-click="changeType(0)">
				בחירת תוכנית
			</div>
			<div  ng-class="{'tabsActive': AppType == 1 , 'tabsNotActive': AppType == 0 }"  ng-click="changeType(1)">
				תוכנית קיימת
			</div>
		</div>	
		-->
		
	<h1 align="center">{{pageTitle}}</h1>
		
	<div class="addProjectList" ng-if="AppType == 0">
	
		  <label class="item item-input" >
			<input type="text" ng-model="fields.name" placeholder="שם התוכנית">
		  </label>
		<!--
		<div class="addImageMangeProject"  align="center" ng-click="savePlanName()">
				<div style="width:80%; margin-top:20px; margin-bottom:30px;">
					<img src="img/save.png" style="width:100%;" />
				</div>
		</div>
		-->
		
	</div>
	
	
	
	<div class="addProjectList" ng-if="AppType == 1">

	
	<div ng-if="PlanListArray.length == 0" align="center">
	לא נמצאו תוכניות
	</div>
	

    <div  ng-repeat="item in PlanListArray"  style=" top:35px;  overflow:hidden">
            <div class="toogle" style=" "> 
			
			   <div style="float:left;" ng-click="deletePlan($index,item.index)">
				<i class="ion-trash-a" style="font-size:35px;"></i>
			   </div>
			   
               <div class="tooglLeft">
                    {{item.name}} 
               </div>
			   

               <div  align="center" ng-class="{ 'ActiveCircleToogle': item.selected == 1 , 'NonActiveCircleToogle': item.selected == 0 ,  'NonActiveBlackCircleToogle': item.selected == 2 }" ng-click="selectPlan($index,item.index)">
                   <div></div>
               </div>
			   

			   
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>

	
	<!--
	<label class="item item-input item-select">
	
		<div class="input-label">
			תוכנית קיימת
		</div>
		<select ng-model="fields.plans">
		
			<option value="" selected>בחירת תוכנית</option>
			<option value="{{item.index}}" ng-repeat="item in PlanListArray">{{item.name}}</option>
		</select>
	</label>
	-->
	
	
    <div class="addImageMangeProject"  align="center" ng-click="selectExistingPlan()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
    </div>
	
		
	</div>

	
		
	<div class="list"  style="margin-top:-6px; padding-bottom:120px;" ng-show="showPlans">

		<div class="qrItem" ng-repeat="item in PlansData " >

		
		
        	<div class="qrContent">
            	<div class="qrImage" align="left" ng-click="pictureChoser($index,item.index)">
                	<img  src="{{serverHost}}/{{item.image}}" style="width:100%">
                </div>
                <div class="qrInfo" ng-click="pictureChoser($index,item.index)">
                	 <h2>{{item.name}}</h2>
		 			 <p>{{item.details}}</p>
                </div>

                <div class="whiteLine"></div>
            </div>
			
		    <div style="width:100%;">
			
			<div style="width:50%;" ng-repeat="imageitem in item.gallery" ng-click="deletePlanImage($index,item.index)">
				<img src="{{serverHost}}/{{imageitem.image}}" style="width:100%;">
			</div>
			</div>
		
			
		</div>
		

		
	</div>	
	
	</div>
  </ion-content>
</ion-view>
