<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="contentBackground">

	<div align="center">
	
	
	<button class="button button-block button-positive" ui-sref="app.categoriesmifrat()" >
	  קטגוריות מפרט
	</button>
	
	<button class="button button-block button-positive" ui-sref="app.categoriesplans()" >
	  קטגוריות תוכניות
	</button>

	<button class="button button-block button-positive" ui-sref="app.leads()" >
	  ניהול לידים
	</button>	
	
	<button class="button button-block button-positive" ui-sref="app.manageabout()" >
	  ניהול אודות הקבלן
	</button>	
	
	
	</div>
  </ion-content>
</ion-view>
