<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content class="contentBackground">
 	<div align="center">
		<div class="list">
			<div ng-repeat="item in mifratGallery"> 
			<img src="{{serverHost}}/{{item.image}}">
			</div>
		</div>
    </div>
  </ion-content>
</ion-view>
