<ion-view view-title="{{navTitle}}" >
  <ion-content>
 	<div align="center">
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/bonim_img.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">
            </div>
        </div>
        
       
	

        <div class="addProjectList">
             <div class="chatDetailsInfo">
                <p class="chatDetailsError">{{Project.error}}</p>
                <p class="chatDetailsPlace">מקום בבית : {{Project.place}}</p>
                <p class="chatDetailsField">קטגורייה : {{Project.categoryName}}</p>
             </div>
             <div class="whiteLine" style="margin-top:-10px;"></div>
        </div>
        
        <div class="qrItem" ng-repeat="item in Reviews" >
                    <div class="qrContent" >
                    	<div>
                            <div ng-if="!Project.image" class="qrImage" align="left" >
                                <img  src="img/avatar.png">
                            </div>
                            <div ng-if="Project.image" class="qrImage" align="left" >
                                <img  src="{{serverHost}}/{{Project.image}}">
                            </div>
                            <div class="qrInfo" style="height:50px;">
                                 <h2>{{item.user[0].name}}</h2>
                                 <p> {{item.title}}</p>
                            </div>
                         </div>
                       <!-- <div class="qrshare" style="float:right; margin-right:30px; margin-top:10px;"  >
                            <div ui-sref="app.EditChatProject({ItemId: item.index})">
                                <img src="img/edit_icon.png" style="width:100%;">
                            </div>
                            <div ng-click="deleteProject(item.index)">
                                <img src="img/delete.png" style="width:100%;">
                            </div>
                        </div>-->
                    </div>
                    <div class="whiteLine"></div>
         </div>        

	
	</div>
   	
  </ion-content>
  
   <div class="bar bar-footer" style=" background-color:white; height:80px;">
      <div align="center"> 
      	<div style="width:80%" ng-click="openPopUp()"> 
      		<img src="img/bugbtn.jpg" style="width:100%" />
        </div>
      </div>
  </div>		
</ion-view>
