<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">גלריה</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGallery()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
  
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide ng-repeat="item in Gallery"> 
			<div class="box blue"><h1><img src="{{serverHost}}/{{item.image}}" style="width:100%;"></h1></div>
		  </ion-slide>
		</ion-slide-box>
		
		
  </ion-content>
</ion-modal-view>
