<ion-view view-title="" hide-nav-bar="true" hide-back-button="false">
  <ion-content class="contentBackground">
    	<div class="logoDivImg" align="center">
        	<div>
            	<img src="img/intro_logo.png" style="width:100%" />
            </div>
        </div>
        <div  class="insertNumberTextDiv" align="center">
        	<div class="insertNumberIcon">
            	<img src="img/enter_icon.png" style="width:100%" />
            </div>
        	<input type="tel" class="insertNumberText" ng-model="fields.phone" placeholder="הכנס טלפון לזיהוי" />
            
            <div class="projectButton" ng-click="checkLogin()">
            	<img src="img/saleproject.png" style="width:100%" />
            </div>
        </div>
  </ion-content>
</ion-view>
