<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>
 	<div align="center">
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="img/change.png" style="width:100%;" />
            </div>
        </div>
        
       
	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">

	<div class="addProjectList">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם הפרויקט">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.address" g-places-autocomplete force-selection="false" options="autocompleteOptions"  placeholder="כתובת">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="fields.phone" placeholder="טלפון">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.facebook" placeholder="פייסבוק">
	  </label>	  
	  <label class="item item-input">
		<textarea ng-model="fields.desc" ng-bind-html="fields.desc | html" placeholder="תיאור הפרויקט"></textarea>
	  </label>
	  
	<label class="item item-input item-select">
	
		<div class="input-label">
			סטטוס
		</div>

		<select ng-model="fields.status">
			<option value="" selected>בחירת סטטוס הפרויקט</option>
			<option value="1">בתכנון</option>
			<option value="2">בביצוע</option>
			<option value="3">סיום בנייה</option>
		</select>
	</label>

	  
	</div>
	
	
    <div class="addImageMangeProject"  align="center" ng-click="saveProject()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
        </div>
        
		
		<div ng-show="showDiv">
		
	
        <div style="width:100%; margin-top:10px;" align="center" ui-sref="app.managebuildings({ProjectId: projectid,ItemId: -1})">
            <div style="width:90%">
                <img src="img/add_buildings.png" style="width:100%" />
            </div>
        </div>

		
	
        <div class="list">
        
                <div class="qrItem" ng-repeat="item in BuildingsArray" >
                    <div class="qrContent">
                        <div class="qrImage" align="left" ng-click="navigateApparment(item.index)">
                            <img  src="{{serverHost}}/{{item.image}}">
                        </div>
                        <div class="qrInfo" ng-click="navigateApparment(item.index)" style="height:50px;">
                             <h2>{{item.name}}</h2>
                             <p> מספר דירות : {{item.mispar_dirot}}</p>
                        </div>
                        <div class="qrshare" style="float:right; margin-right:30px;"  >
						
                            <div ui-sref="app.managebuildings({ProjectId: projectId,ItemId: item.index})">
                                <img src="img/edit_icon.png" style="width:100%;">
                            </div>
							
                            <div ng-click="deleteBuilding($index,item.index)">
                                <img src="img/delete.png" style="width:100%;">
                            </div>

							
                        </div>
                    </div>
                    <div class="whiteLine" ></div>
                </div>
          </div>	
		  
		 </div>

	
	
	</div>
   	
  </ion-content>
</ion-view>
