<ion-view view-title="{{navTitle}}" >
  <ion-content class="contentBackground">
 	<div align="center">
	

	<div class="list">
	
	<!--
	<label class="item item-input item-select">
		<div class="input-label">
			בחירת דירה
		</div>
		<select ng-model="fields.mifratdira">
			<option value=""   >יש לבחור דירה</option>
			<option value="{{item.mifrat_id}}"  ng-repeat="item in ApptArray" >{{item.name}}</option>
		</select>
	</label>
	-->
	
	
    <div   ng-repeat="item in dirotArray"  style="padding-bottom:0px; z-index:1; position:relative; top:35px; background-color:green; overflow:hidden">
            <div class="toogle" style=" "> 
               <div class="tooglLeft">
                    {{item.index}} דירה מספר
               </div>
               <div  align="center" ng-class="{ 'ActiveCircleToogle': item.selected == 1 , 'NonActiveCircleToogle': item.selected == 0 ,  'NonActiveBlackCircleToogle': item.selected == 2 }" ng-click="selectApp($index,item.index,item.selected)">
                   <div></div>
               </div>
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>
	
	

	
	  
	  

	</div>
	

	<div ng-click="saveOptions()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
   	
  </ion-content>
</ion-view>
