<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false" cache-view="false">
  <ion-content class="contentBackground">

	<div align="center">

	<button class="button button-block button-positive" ng-click="pictureChoser()">
	  העלאת תמונה
	</button>

	
        <div class="addImage" align="left">
        	<table>
            	<tr>
                	<td ng-repeat="item in imagesArray">
                    	<img ng-src="{{host}}/{{item.image}}" ng-click="deleteImage($index,item.image)" style="width:100px" />
                    </td>
                </tr>
            </table>
        </div>	
	
	</div>
  </ion-content>
</ion-view>
