<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">הקמת דירה</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAppModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
  
	<div class="list" align="center">
	  <label class="item item-input">
		<input type="text" ng-model="appfields.name" placeholder="כותרת">
	  </label>	
	  <label class="item item-input">
		<input type="tel" ng-model="appfields.hadarim" placeholder="מספר חדרים">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="appfields.godeldira" placeholder="גודל דירה">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="appfields.godelmirpaset" placeholder="גודל מרפסת">
	  </label> 
	<label class="item item-input item-select">
		<div class="input-label">
			בחירת מפרט דירה
		</div>
		<select ng-model="appfields.mifratid">
			<option value=""   >יש לבחור מפרט</option>
			<option value="{{item.index}}"  ng-repeat="item in MifratimArray" >{{item.name}} </option>
		</select>
	</label>

	<label class="item item-input item-select">
		<div class="input-label">
			בחירת תוכנית
		</div>
		<select ng-model="appfields.planid">
			<option value=""   >יש לבחור תוכנית</option>
			<option value="{{item.index}}"  ng-repeat="item in PlanListArray" >{{item.name}} </option>
		</select>
	</label>

	
	</div>
	

	<div ng-click="saveNewApp()" align="center">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	
		
		
  </ion-content>
</ion-modal-view>
