<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content >
 	<div align="center">
		 <div class="shortImage">
                <img src="{{serverHost}}/{{projectImage}}" />  
        </div>
        
		<div style="width:100%; margin-top:10px;" align="center">
        	<div style="width:80%">
            	<p class="ApartmentDetailsProjectName">{{projectName}}</p>
                <p class="ApartmentDetailsDiscriptionName">{{projectAddress}}</p>
            </div>
        </div>
        
        <div class="whiteLine" ></div>
        <div class="MifratList" align="center">
        	<div  style="width:90%;">
                <div class="mifratItem" ng-repeat="item in planCategories" ng-click="goPlan(item)">
                    <img ng-if="item['cat'][0].image" src="{{serverHost}}/{{item['cat'][0].image}}" style="width:100%" />
                    <p>{{item["cat"][0].name}}</p>
					
					<p></p>
					
					
                </div>
           	</div>
        </div>

			<!--<div class="item item-thumbnail-left" ng-click="goGallery(item[0].index,item[0].count)" ng-repeat="item in mifratimArray">
			  <img ng-if="item[0].image" src="{{serverHost}}/{{item[0].image}}">
			  <h2>{{item[0].name}}</h2>
			</div>-->
	


    </div>

		
		

   	
  </ion-content>
</ion-view>
