/* Empty. Add your own CSS if you like */
.mt20
{
	margin-top:20px;
}

.contentBackground
{
	background-color:#ececeb;
}

.logoDivImg
{
	width:100%;
	margin-top:130px;
}

.logoDivImg div
{
	width:60%;
}

.insertNumberTextDiv
{
	width:100%;
	margin-top:30px;
}

.title-image
{
	width:120px;
	margin-top:4px;
	text-align:center
}
.insertNumberText
{
	width:75%;
	text-align:center;
	height:140px;
	font-size:20px !important;
	height:50px !important;
	border-bottom:2px solid #0e89cf !important;
}

.insertNumberIcon
{
	position:absolute;
	width:30px;
	left:14%;
	margin-top:13px;
}

.projectButton
{
	width:75%;
	margin-top:40px;
}



.qrItem
{
	width:100%;
}


.qrContent
{
	width:100%;
	overflow:hidden;
	background-color:#fff;
}

.qrImage
{
	width:22%;
	float:right;
	padding-top:7px;
	padding-bottom:-3px;
	margin-left:10px;
	background-image:red;
}

.qrImage img
{
	border-radius:50px;
	width:70px;
	height:70px;
}

.qrInfo
{
	float:right;
	width:53%;
	text-align:right;
	color:#3e3e3e;
	margin-right:10px;
	margin-top:20px;
	direction:rtl;
}

.qrInfo h2
{
	color:#3e3e3e;
	font-size:16px;
}

.qrInfo p
{
	color:#3e3e3e;
	font-size:13px;
	margin-top:-10px;
}

.qrshare
{
	float:left;
	width:9%;
	margin-top:30px;
	padding-left:3px;
	padding-right:3px
}

.qrEdit
{
	float:right;
	width:12%;
	z-index:3;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-bottom:-20px;
}

.whiteLine
{
	height:2px;
	width:100%;
	background-color:#f1f1f1;
	margin-top:0px;
	position:relative;
	z-index:100;
}

.whiteLine1
{
	height:2px;
	width:100%;
	background-color:#f1f1f1;
}


.titleInputDiv
{
	width:100%;
	color:#585858;
	margin-top:20px;
}

.titleInput
{
	width:90%;
	background-color:#f0f2f1;
	border-radius:5px;
	padding:15px !important;
	color:#333;
}

.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:0px;
	overflow:hidden;
}



.mainInfoText
{
	float:right;
	width:60%;
}

.mainDetails
{
	width:100%;
	overflow:hidden;
}

.ListInfoCenter
{	
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
	padding-right:20px;
	width:60%;
}

.ListInfoCenter h3
{
	font-size:16px;
	color:#ef2275;
	font-weight:bold;
}


.shortImage img
{
	width:100%;	
}

.shortImageBlack
{
	height:60px;
	width:100%;
	opacity:0.5;
	background-color:black;
	margin-top:-65px;
}

.shortImageBlackIcon
{
	width:60px;
	position:absolute;
	left:10px;
	margin-top:-55px;
}

.shortImageApartmentBlackIcon
{
	width:100%;
	position:relative;
	left:10px;
	margin-top:-65px;
	background-color:red;
}

.shortImageApartmentBlackIcon img
{
	width:50px;
	position:absolute;
}

.ListInfoCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#ef2275;
}

.ListInfoCenter div
{
	margin-top:-8px;
	color:#ef2275;
}


.searchLine
{
	background-color:#CCC;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
	height:1px;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}


.infoPopUpHeader
{
	width:100%;
	overflow:hidden;
}

.infoPopUpHeaderleft
{
	width:27%;
	margin-top:15px;
	float:left;
	margin-left:0px;
}

.infoPopUpHeaderleft img
{
	border-radius:50px;
	border:1px solid #61b5cf;
}

.infoPopUpHeaderRight
{
	width:70%;
	margin-top:15px;
	float:right;
	margin-left:0px;
	text-align:right;
}

.popupTitle
{
	font-size:16px;
	font-weight:bold;
}

.popupLine
{
	width:100%;
	height:1px;
	background-color:#61b5cf;
	margin-top:6px;
}

.AboutPopUp
{
	text-align:right;
	direction:rtl;
	margin-top:10px;
}

.InfoPopUp
{
	text-align:right;
	direction:rtl;
	margin-top:10px;
}

.buttonsPopUp
{
	position:absolute;
	top:450px;
	left:7%;
}

.custom-popup.popup-container .popup {
  width:90%;
}


/* Toogle Class */

.toogle
{
	overflow:hidden;
	background-color:#f4f4f4;
	width:100%;
	padding:0px;
	padding-top:10px;
}

.tooglLeft
{
	width:50%;
	float:left;
	margin-left:30px;
	margin-top:3px;
	font-size:22px;
}

.tooglRight
{
	width:40%;
	float:right;
}


.NonActiveCircleToogle
{
	float:right;
	width:30%;
}

.NonActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#fff;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.NonActiveBlackCircleToogle
{
	float:right;
	width:30%;
}

.NonActiveBlackCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#000000;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}






.ActiveCircleToogle
{
	float:right;
	width:30%;
}

.ActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#ff7b00;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.lineToogle
{
	margin-top:3x;
	margin-bottom:3px;
}

.popup-title 
{
	direction:rtl;
}


.addImageMangeProject
{
	width:100%;
	margin-top:0px;
}

.addImageMangeProject div
{
	width:100%;
}

.addProjectList 
{
	margin-top:-10px;
}

.addProjectList input
{
	text-align:right;
}

.addProjectList textarea
{
	text-align:right;
	padding-right:22px;
}

.ApartmentDetailsProjectName
{
	font-size:20px;
	font-weight:bold;
	text-align:center
}

.ApartmentDetailsDiscriptionName
{
	margin-top:-8px;
}

.apartmentIcons
{
	width:100%;
	overflow:hidden;
	padding:5px;
}

.apartmentIconsLeft
{
	float:right;
	width:20%;
}

.apartmentIconsRight
{
	float:right;
	width:50%;
	text-align:right;
	margin-top:10px;
}


.footerBtn
{
	margin-top:3px;
	font-size:10px;
	color:white;
	width:25%;
}

.footerBtn img
{
	width:70%;
}

/* Mifrat Page*/

.MifratList
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}

.mifratItem
{
	float:left;
	width:33%;
}

.mifratItem p
{
	text-align:center;
}

/* Comment Modal*/

.comment
{
	overflow:hidden;
	width:100%;
	margin-top:10px;
}

.commentImage
{
	width:25%;
	float:right;
}

.commentImage img
{
	border-radius:50px;
	width:60px !important;
	height:60px;
}

.commentImage div
{
	width:80%;
}

.commentInfo
{
	width:45%;
	float:right;
}

.commentInfo h2
{
	font-size:20px;
}

.commentInfo p
{
	margin-top:-10px;
	font-size:14px !important;
	font-weight:200 !important;
}

.commentDate
{
	width:20%;
	float:left;
	font-size:12px;
	font-weight:200;
	margin-top:10px;
}


.chatButtons
{
	overflow:hidden;
	width:100%;
	margin-top:10px
}

.chatLeft
{
	float:left;
	width:50%;
}

.chatLeft div
{
	width:80%;
}

.chatRight
{
	float:left;
	width:50%;
}

.chatRight div
{
	width:80%;
}


/* chatDetails Page*/

.chatDetailsInfo
{
	text-align:right;
	padding:15px;
}

.chatDetailsError
{
	font-size:18px;
	color:#666;
}

.chatDetailsPlace
{
	margin-top:-5px;
}

.chatDetailsField
{
	margin-top:-10px;
	font-size:12px;
}

/*Daily tip popup*/
.ChatPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 90%;
    height: 100%;
    text-align: center;
    direction: rtl;
    margin-top: 100px;
}

.ChatPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.ChatMainDiv {
    background-color: white;
    margin-top: -40px;
    padding: 40px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ChatTitle {
    font-size: 20px;
    padding-bottom: 10px;
}

.ChatText {
    padding: 40px 10px;
}

.ChatButton {
    width: 90%;
    margin: 10px auto;
    background-color: #ffd200;
    padding: 10px;
    border-radius: 15px;
}

.ChatButtonText {
    font-size: 20px;
    font-weight: bold;
}

/*End of Daily tip*/

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.loading 
{
	direction:rtl;
}





























